name: CI

on:
  push:
    branches:
      - master
    paths:
      - '**/*.py'
      - '.github/workflows/ci.yaml'
  pull_request:
    branches:
      - master
    paths:
      - '**/*.py'
      - '.github/workflows/ci.yaml'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.8, 3.13, 3.14, pypy-3.11]
      fail-fast: false

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install -e .

      - name: Install pytest
        run: |
          pip install pytest pytest-cov codecov

      - name: Run pytest
        timeout-minutes: 10
        run: |
          pytest . -v --cov --cov-report=xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5